* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

.header {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #778899;
    overflow-x: hidden;
    padding-top: 20px;
}

.header li{
    list-style: none;
}

.header a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.header a:hover {
    color: #f1f1f1;
    background-color: #2F4F4F;
}

.main {
    margin-left: 200px;
    font-size: 20px;
    padding: 0px 10px;
}